
*.7z
Code archive/update.py
Credentials/solar-37513-firebase.json
Logs/error_logging.txt
Logs/errors_ds18b20.txt
Logs/errors_firebase_admin_file.txt
Output/averageDebug.csv
Output/output.txt
Output/shared_data.db
Sensor documentation/1-Wire-Guidelines_cat5e.pdf
Sensor documentation/1wire_search_algorithm.pdf
Sensor documentation/DS18B20.PDF
Sensor documentation/Guidelines for Reliable Long Line 1.pdf
Sensor documentation/Pi3-DS18-B20-5-V with 3vpup.png
Sensor documentation/raspberry-pi-3-pinout.jpg
Logs/write_failures.txt
untitled.py
firebase_admin_file_prev.py
